<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you.</h1>


<p>Welcome to my page! </br> I'm Sunny, Data Scientist from <img src="https://img.icons8.com/emoji/48/000000/india-emoji.png" width="15/> <b>India</b>

<h3> I have technical experience and interest in -</h3> 
<ul> 
<li> Computer vision </li>
<li> Natural Language Processing </li> 
<li> Embedded systems </li>
<li> Robotics </li>
</ul>

<h3> My Hobbies and interests -</h3>
<ul> 
<li> Photogarphy </li>
<li> Calligraphy </li>
<li> Sketching </li>
<ul>


<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
<p>Above are the last 3 pictures posted by <a href="https://www.instagram.com/{{user}}/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @{{user}}!</a><br/>Currently, the weather is: <b> {{city_temperature}}°C, <i>{{city_weather}}</i></b></br>Today, the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.</p>


You can also find me on- 

[<img align="left" alt="{{user}} | LinkedIn" width="30px" src="https://img.icons8.com/color/48/000000/linkedin.png" />][linkedin]
[<img align="left" alt="{{user}} | Twitter" width="30px" src="https://img.icons8.com/fluent/48/000000/twitter.png" />][twitter]
[<img align="left" alt="{{user}} | Instagram" width="30px" src="https://img.icons8.com/fluent/48/000000/instagram-new.png" />][Instagram]
[<img align="left" alt="{{user}} | Pexels" width="80px" src="http://images.pexels.com/lib/api/pexels.png" />][Pexels]

<br>
<br>


<hr>

<p>
    <img class="center" alt="{{user}}'s github visitors" src="https://visitor-badge.laobi.icu/badge?page_id={{user}}.{{user}}"/>
</p>


[linkedin]: https://www.linkedin.com/in/{{user}}
[twitter]: https://www.twitter.com/{{user}}
[Instagram]: https://www.instagram.com/{{user}}
[Pexels]: https://www.pexels.com/@{{user}}

