<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you.</h1>

### I have technical experience and interest in -
* Computer vision 
* Natural Language Processing 
* Embedded systems 
* Robotics

### My Hobbies and interests -
* Photogarphy
* Calligraphy
* Sketching


<hr>

<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
<p>Above are the last 3 pictures posted by <a href="https://www.instagram.com/{{user}}/" target="_blank"><br>@{{user}}!</a> on Instagram</p>

<hr>

#### You can also find me on- 

[<img align="left" alt="{{user}} | LinkedIn" width="30px" src="https://img.icons8.com/color/48/000000/linkedin.png" />][linkedin]
[<img align="left" alt="{{user}} | Twitter" width="30px" src="https://img.icons8.com/fluent/48/000000/twitter.png" />][twitter]
[<img align="left" alt="{{user}} | Instagram" width="30px" src="https://img.icons8.com/fluent/48/000000/instagram-new.png" />][Instagram]
[<img align="left" alt="{{user}} | Pexels" width="80px" src="http://images.pexels.com/lib/api/pexels.png" />][Pexels]

<br>

<hr>

<p>
    <img class="center" alt="{{user}}'s github visitors" src="https://visitor-badge.laobi.icu/badge?page_id={{user}}.{{user}}"/>
</p>


[linkedin]: https://www.linkedin.com/in/{{user}}
[twitter]: https://www.twitter.com/{{user}}
[Instagram]: https://www.instagram.com/{{user}}
[Pexels]: https://www.pexels.com/@{{user}}

